/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF CSS RESET///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#all
{
	display:none;
}



#noscript

{
	margin:0 auto;
	width:500px;
	text-align: right;
	background-color:orange ;
	font-family: arial;
	font-size: 20px;
	color:black;
	border:1px solid white;
	outline: 1px solid black;
	padding:5px ;
	
	
}

#warning
{
	background-image: url('../img/txt/Warning.png');
	min-height: 58px;
	max-width: 63px;
	position: relative;
	left:-30px;
	top:38px;
	margin-top:-58px;
}







@font-face {
        font-family: "Ethno";
        src: url('fonts/505920411-ethno.eot');
        src: url('fonts/505920411-ethno.eot?#iefix') format('embedded-opentype'),
        url('fonts/505920411-ethno.svg#Ethnocentric') format('svg'),
        url('fonts/505920411-ethno.woff') format('woff'),
        url('fonts/505920411-ethno.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }



/*FONT SMOOTHING 4 WEBKIT*/
html
 {
-webkit-font-smoothing: antialiased;
font-family: arial;
}


marquee
{
	color: gray;

}

marquee:hover
{
	color: #0D60A5;
	
}


a:link    {
    color: white;
}


a:visited {
    color: white;
}


a:hover   {
    color: white;
}


a:active  {
    color: white;

}



p {
	text-indent: 30px;
	margin-bottom: 11px;
}

h1
{
	font-size: 30px;
	text-align:center;
}

h2
{
font-size: 22px;
	
}

/*END OF FONT SMOOTHING 4 WEBKIT/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body
{

background-image: url('../img/txt/dark.png');

background-attachment: fixed;
}

a
{
	text-decoration: none;
}

#bener
{
	
	margin: 0 auto;
	width: 1000px;
	height: 80px;
	/*background-image:url('../img/bener.png');*/
	background-position: center;
	font-family: ethno , "arial black";
	text-align: center;
	line-height: 80px;
	color:white;
	font-size: 30px;

	margin-bottom: 10px;
}

.benertext
{
	opacity:1;
	color:#0973CB;
	display: inline-block;
  vertical-align: middle;
  line-height: normal; 
text-shadow:0.8px 0.8px 0.8px black;
}


.benertext:hover {
	opacity: 0.8;
}


#arrow
{
	position: relative;
	z-index: 20;
	top:12px;
	/*left:490px;*/
width: 0;
height: 0;
border-style: solid;
border-width:   0 7.5px 13.0px 7.5px;
border-color: transparent transparent black transparent;

}

#arrow2
{
	position: relative;
	z-index: 22;
	top:-3px;
	left:490px;
width: 0;
height: 0;
border-style: solid;
border-width:   13.0px 7.5px 0 7.5px;
border-color: black transparent transparent transparent;
}




#navbar
{


	width:100% ;
	height: 35px;
	
	background-color: rgba(4,135,243,0.4);
	border-right: 0;
	border-left: 0;
	margin-bottom: 10px;



}




#container
{
width:1000px;
margin:0 auto;
}




.cell
{
	float:left;
	display: inline-block;
	border-right: 2px solid black;
	text-align: center;
	width:164px;
	height: 35px;
	line-height: 35px;
	color:white;
    text-shadow:0.5px 0.5px 0.5px black;



}





.cell:nth-child(6) {
	border-right: 0;
}



.cell:hover
{
	background-color: rgba(36,150,245,0.2);
}

#slide
{
	box-shadow: 0 0 10px #0487F3;
	margin: 0 auto;
	width: 1000px;
	height: 350px;
margin-bottom: 10px;
}



#news	
{

width: 1000px;
max-height: 25px;
-webkit-box-shadow: inset 0 0px 8px #0487F3;
box-shadow: inset 0 0px 8px #0487F3;
margin: 0 auto;
color: white;
line-height: 25px;
font-size: 20px;

}


#wrapper
{

	width: 1000px;
	margin: 0 auto;
	min-height: 365px;
	margin-top: 10px;


}

#sidebar
{

	width: 198px;
	float:left;
	background-color: rgba(4,135,243,0.4);
	z-index: 2;

}

.sidebarcell
{
	display: block;
	width: 200px;
	height: 35px;
	border-bottom: 2px solid black;
	text-align: center;
	line-height: 35px;
	color:white;
	text-shadow:0.5px 0.5px 0.5px black;
}



.sidebarcell:hover
{
	background-color: rgba(36,150,245,0.2);
}


#content
{
	background-color:rgba(255,255,255,0.2);
	box-shadow: 0 0 10px #0487F3;
	width:756px;
	color:#0487F3;
	min-height: 500px;
	float: right;
	padding: 20px;
	text-shadow:0.3px 0.3px 0.5px black;
}


/*//////////////////////////////////////////////*/

#iorga

{
	background-image: url('../img/iorga.png');
	background-position: center;
	position: relative;
	min-height:232px;
	width: 738px;
	right: -40px;

margin-bottom: -30px;
bottom:60px;

}



#foother
{
	margin-top: 20px;
	width:100%;
	min-height: 35px;
	background-color:  rgba(4,135,243,0.4);
	
	

}

#fcontainer
{
	width: 1000px;
	min-height: 35px;
	margin: 0 auto ;
text-shadow:0.5px 0.5px 0.5px black;


}


#cserban
{
	text-align: center;
	color: white;
	float: right;

}

#copy

{
	text-align: center;
	color: white;
	float: left;
	
}

.arrow_box {
	position: relative;
	
	border: 2px solid #0D60A5;
	margin-left:450px;
}

#backtotop
{
width: 0;
height: 0;
border-style: solid;
border-width:  0 25px 43.3px 25px;
border-color: transparent transparent black transparent;
position: relative;
top:0px;
left:500px;
margin-bottom: -30px;

}




